---
http_interactions:
- request:
    method: post
    uri: https://api.sandbox.paypal.com/v1/oauth2/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QWFvS1Vja1RpcC1FeGNybHB0bUthcnJRcE9lazB4RG9yUXFFczlJOVZ5WW9NMW96aE5zUGE4UVptZ3BfVUVpdHluSU50MVd0NG5jV3RZZVU6RU1DUjA4QkFVd0hNdXZhaG1KcThZdTc0QzN5b2EwTndYeUhtZVRXcUtCcjV6Wk1qX0tEZzVlUC1JZkJGMUV5ek9sSWVDbVc0aXpQQ0p3SVo=
  response:
    status:
      code: 200
      message: OK
    headers:
      Paypal-Debug-Id:
      - 4fbc9396342d
      - 4fbc9396342d
      X-Paypal-Token-Service:
      - IAAS
      Http-X-Pp-Az-Locator:
      - sandbox.slc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"scope":"https://uri.paypal.com/services/subscriptions https://api.paypal.com/v1/payments/.*
        https://api.paypal.com/v1/vault/credit-card https://uri.paypal.com/services/applications/webhooks
        openid https://uri.paypal.com/payments/payouts https://api.paypal.com/v1/vault/credit-card/.*","nonce":"2018-12-11T03:16:04ZAAaL0hFvKczWeLi_uDum0uIA--Qdz2k-GQVQWvd0j1I","access_token":"A21AAGp6GRmuZ9-MauuQLPwRYrCr2zGMgXu7srgVyvCNNlpfBTGpHUppeuoyYgkER_VbzMmw7VC_KSB4HugeuDyRNhoswIe7w","token_type":"Bearer","app_id":"APP-80W284485P519543T","expires_in":31328}'
  recorded_at: Tue, 11 Dec 2018 03:33:56 GMT
- request:
    method: get
    uri: https://api.sandbox.paypal.com/v1/payments/payment/PAY-34L1132830093533CLF54GLA
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer A21AAGp6GRmuZ9-MauuQLPwRYrCr2zGMgXu7srgVyvCNNlpfBTGpHUppeuoyYgkER_VbzMmw7VC_KSB4HugeuDyRNhoswIe7w
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Paypal-Debug-Id:
      - 2de3a360ef89a
      - 2de3a360ef89a
      Content-Language:
      - "*"
      Http-X-Pp-Az-Locator:
      - sandbox.slc
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"id":"PAY-34L1132830093533CLF54GLA","intent":"sale","state":"approved","cart":"62G48236VR9459313","payer":{"payment_method":"paypal","status":"VERIFIED","payer_info":{"email":"tiwatson+pptest@gmail.com","first_name":"Tim","last_name":"Watson","payer_id":"GY8BRXAC7DN74","shipping_address":{"recipient_name":"Tim
        Watson","line1":"1 Main St","city":"San Jose","state":"CA","postal_code":"95131","country_code":"US"},"phone":"4087929793","country_code":"US"}},"transactions":[{"amount":{"total":"20.00","currency":"USD","details":{"subtotal":"20.00"}},"payee":{"merchant_id":"2KSK78PWV333E"},"item_list":{"items":[],"shipping_address":{"recipient_name":"Tim
        Watson","line1":"1 Main St","city":"San Jose","state":"CA","postal_code":"95131","country_code":"US"}},"related_resources":[{"sale":{"id":"6CD34852XR732800P","state":"completed","amount":{"total":"20.00","currency":"USD","details":{"subtotal":"20.00"}},"payment_mode":"INSTANT_TRANSFER","protection_eligibility":"ELIGIBLE","protection_eligibility_type":"ITEM_NOT_RECEIVED_ELIGIBLE,UNAUTHORIZED_PAYMENT_ELIGIBLE","transaction_fee":{"value":"0.88","currency":"USD"},"parent_payment":"PAY-34L1132830093533CLF54GLA","create_time":"2017-07-28T23:05:31Z","update_time":"2017-07-28T23:05:31Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/sale/6CD34852XR732800P","rel":"self","method":"GET"},{"href":"https://api.sandbox.paypal.com/v1/payments/sale/6CD34852XR732800P/refund","rel":"refund","method":"POST"},{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-34L1132830093533CLF54GLA","rel":"parent_payment","method":"GET"}]}}]}],"create_time":"2017-07-28T23:05:16Z","links":[{"href":"https://api.sandbox.paypal.com/v1/payments/payment/PAY-34L1132830093533CLF54GLA","rel":"self","method":"GET"}]}'
  recorded_at: Tue, 11 Dec 2018 03:33:57 GMT
recorded_with: VCR 3.0.3
