version: "3"

services:
  camis:
    build:
      context: .
      dockerfile: ./camis/Dockerfile
    image: ${DOCKER_REGISTRY}/wanderinglabs/scraper-camis

  rec1:
    build:
      context: .
      dockerfile: ./rec1/Dockerfile
    image: ${DOCKER_REGISTRY}/wanderinglabs/scraper-rec1

  recreation-gov:
    build:
      context: .
      dockerfile: ./recreation_gov/Dockerfile
    image: ${DOCKER_REGISTRY}/wanderinglabs/scraper-recreation-gov

  reserve-america:
    build:
      context: .
      dockerfile: ./reserve_america/Dockerfile
    image: ${DOCKER_REGISTRY}/wanderinglabs/scraper-reserve-america

  reserve-ca:
    build:
      context: .
      dockerfile: ./reserve_ca_rdr/Dockerfile
    image: ${DOCKER_REGISTRY}/wanderinglabs/scraper-reserve-ca
