body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.DayPicker {
  display: block;
  font-size: 18px;
}

.DayPicker-Weekday {
  padding: 1rem;
}

.navPadded {
  margin-top: 46px;
}

.ui.inverted.menu.StepsNav {
  margin-top: 46px;
  border-radius: 0;
}

.ui.search .prompt {
  border-radius: 0;
}

input {
  font: inherit;
}

.topPadded {
  padding-top: 12px;
}


@media only screen and (max-width: 767px) {
  .ui.menu > .ui.container {
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}
