body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.DayPicker {
  display: block;
  font-size: 18px;
}

.DayPicker-Weekday {
  padding: 1rem;
}

.navPadded {
  margin-top: 120px;
}

.ui.menu.StepsNavMenu {
  top: 49px;
  border-radius: 0;
}

.ui.search .prompt {
  border-radius: 0;
}

.facilitySearch > .input {
  width: 100% !important;
}

input {
  font: inherit;
}

.topPadded {
  padding-top: 12px;
}


@media only screen and (max-width: 767px) {
  .ui.menu > .ui.container {
    width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
}


.ui.selection.dropdown .menu {
  max-height: none !important;
}
